@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.cardFloat {
  animation: floatUpDown 3s ease-in-out infinite;
}

.cardFloat1 {
  animation: floatUpDown 2s ease-in-out infinite;
}

.cardFloat2 {
  animation: floatUpDown 2.5s ease-in-out infinite;
}

.cardFloat3 {
  animation: floatUpDown 2.8s ease-in-out infinite;
}

.cardFloat4 {
  animation: floatUpDown 2.9s ease-in-out infinite;
}

.aboutUs {
  background-image: url('../assets/aboutBg.png');
}

/* .aboutUs {
  background-image: url('../assets/aboutSec.png');
  background-position: 40% 0%;
  background-size: cover;
  background-repeat: no-repeat;
} */

@keyframes animate {
  from {
    opacity: 0;
    scale: 0.5
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animateAppear {
  animation: animate linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.fade-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-section1 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 1.5s ease-out;
}

.fade-section2 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 2s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  position: relative;
  margin: 1.5rem 0;
}

.slider1 {
  width: 50%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  position: relative;
  margin: 1.5rem 0;
}


.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider1 .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider1 .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider1 .list .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider1:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}


.slider .item:hover {
  filter: grayscale(0);
}


.slider1 .item:hover {
  filter: grayscale(0);
}

.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

.slider1[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}

.fade-left1 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-left2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-left3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-left4 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.fade-in-left {
  opacity: 1;
  transform: translateX(0);
}